---
import Layout from "../layouts/Layout.astro";
import Contacto from "../components/Contact.astro";
import Header from "../components/header.astro";
---

<Layout title="Contact David">
 <div>
    <Contacto />
 </div>
</Layout>