---
const { welcomePhrase, name, phrase, button} = Astro.props;
---
<article id="contact1" class="mt-10 flex flex-col justify-center items-center">
  <h1 class="flex items-center justify-center text-[clamp(1rem,0.6774rem+3.7936vw,5rem)]">{welcomePhrase}</h1>
  <form
    target="_blank"
    action="https://formsubmit.co/darkleonardog@gmail.com"
    method="POST"
    class="flex flex-col justify-center items-center gap-5"
  >
    <div class="flex items-center justify-center gap-5 w-full">
      <div class="inputBox relative flex-grow px-12">
        <input
          type="text"
          name="nombre"
          id="nombre"
          maxlength="25"
          minlength="1"
          required
          placeholder=" "
          class="w-full px-2 py-1 text-white bg-transparent border-b border-white focus:outline-none"
        />
        <label for="nombre" class="absolute bottom-1 left-14 text-[#858585] transition-all duration-500">{name}</label>
      </div>
      <div class="inputBox relative flex-grow px-12">
        <input
          type="email"
          name="email"
          id="email"
          required
          placeholder=" "
          class="w-full px-2 py-1 text-white bg-transparent border-b border-white focus:outline-none"
        />
        <label for="email" class="absolute bottom-1 left-14 text-[#858585] transition-all duration-500">E-mail</label>
      </div>
    </div>
    <div class="inputBox relative w-full text-black px-12">
      <textarea
        name="descripcion"
        id="descripcion"
        maxlength="500"
        minlength="1"
        placeholder={phrase}
        cols="10"
        rows="5"
        required
        class="w-full p-4 bg-transparent rounded-md backdrop-blur-3xl border border-white focus:outline-none"
      ></textarea>
    </div>
    <button id="mensaje" class="bg-green-500 text-white text-lg py-2 px-6 rounded-md cursor-pointer transition-colors duration-300 hover:bg-green-600 focus:outline-none">{button}</button>
  </form>
</article>

<article id="contact2" class="flex justify-center items-center mb-[150px]">
  <a
    class="text-base md:text-2xl mt-10 text-center no-underline hover:underline"
    href="mailto:darkleonardog@gmail.com"
  >
  <span>or you can send me an email</span><br>
    <span class="text-xl">darkleonardog@gmail.com</span>
  </a>
</article>

<script>
  document.querySelector("form")?.addEventListener("submit", (event) => {
    const form = event.target as HTMLFormElement;

    setTimeout(() => {
      form.reset();
    }, 1000);
  });
</script>
