---
import { Image } from 'astro:assets';
import photoDavid from '../assets/testBG.svg'
---

{/*    <div class="flex-column h-screen w-screen justify-center">
    <Image class="" src={photoDavid} alt="photo full body"/>
    <span class="text-center">Hi, I'm David <br>Software Developer</span>
    
</div> */}
    <header id="welcome-section" class="h-screen w-screen bg-gradient-to-r from-zinc-500 via-stone-600 to-zinc-900">
        <div id="profile-picture">
        <div class="silhouette" />
        <div class="container text-center space-y-4">
            <span class="block text-white text-7xl font-extrabold tracking-tight">Hi, I'm David</span>
            <span class="block bg-gradient-to-r from-violet-600 to-indigo-600 bg-clip-text text-transparent font-mono text-7xl font-black tracking-wide">
              Software Developer
            </span>
            <div class="mt-6">
              <a 
                href="#contact" 
                class="inline-block px-6 py-3 bg-indigo-600 text-white font-semibold text-lg rounded-lg shadow-lg hover:bg-indigo-700 transition-colors"
              >
                Get in touch
              </a>
            </div>
          </div>
          
      </header>

<style>
   
#welcome-section {
  background: #202736;
  background: linear-gradient(to bottom, #181d23 0%, #202736 80%);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  z-index: 1;
}

#welcome-section::before {
  content: '';
  position: fixed;
  background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Stars.svg?sanitize=true);
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  opacity: 0;
  animation: stars-move-in 1000ms 300ms forwards;
}

@keyframes stars-move-in {
  from {
    background-position-y: -100px;
  }
  to {
    opacity: 1;
    background-position-y: 0;
  }
}

#profile-picture {
  position: fixed;
  left: 50%;
  bottom: 0;
  background: url("../assets/testBG.svg") center bottom no-repeat;
  background-size: 100% 195%;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transform: translate(-50%, 50%) scale(0.8);
  animation: profile-picture-move-in 2.5s ease-in-out 0.8s forwards;
}

@keyframes profile-picture-move-in {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%) scale(0.6);
    background-position: center 150%;
  }
  50% {
    opacity: 0.5;
    transform: translate(-50%, 25%) scale(0.9);
    background-position: center 75%;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
    background-position: center top;
  }
}

#welcome-section .container {
  width: fit-content;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transform: translate(-50%, 50%) scale(0.8);
  animation: text-fade-in 2000ms ease-in-out 1100ms forwards;
}

@keyframes text-fade-in {
  0% {
    opacity: 0;
    transform: translate(-50%, 50%) scale(0.8);
  }
  50% {
    opacity: 0.5;
    transform: translate(-50%, 25%) scale(1);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }
}

@media only screen and (max-width: 649px) {
  #welcome-section .container {
    right: 50%;
    top: 10%;
    width: 80%;
    transform: translate(50%, 0);
    animation: text-fade-in 1000ms 800ms forwards;
  }

  @keyframes text-fade-in {
    from {
      right: 0;
    }
    to {
      opacity: 1;
      right: 50%;
    }
  }

  .silhouette {
    width: 100%;
  }
}

</style>