---
import { languages } from '../i18n/ui';

const { currentLocale } = Astro;
---

<div class="relative inline-block group">
  <!-- Botón para mostrar el idioma actual -->
  <button class="bg-accent-light text-white py-2 px-4 rounded-md cursor-pointer transition-all duration-200 hover:bg-accent-light-hover">
    {languages[currentLocale]}
  </button>

  <!-- Menú desplegable -->
  <ul class="absolute left-0 mt-2 w-full sm:w-auto bg-neutral-900 text-white rounded-md shadow-md py-2 opacity-0 invisible transition-all duration-200 group-hover:opacity-100 group-hover:visible group-hover:mt-2">
    {Object.entries(languages).map(([lang, label]) => (
      <li>
        <a 
          href={`/${lang === 'en' ? '' : lang}`} 
          class={`block py-2 px-4 transition-all duration-200 ${currentLocale === lang ? 'bg-accent-light' : ''} hover:bg-accent-light-hover`}
        >
          {label}
        </a>
      </li>
    ))}
  </ul>
</div>
