---
const {name} = Astro.props;
---

<a
  href="/"
  class="h-5 text-base group relative z-30 flex items-center space-x-1.5 text-black dark:text-white font-semibold"
>
    <div class="text-xl -translate-y-0.5 group-hover:-rotate-12 group-hover:scale-[1.2] ease-in-out duration-300">
        <img
            class="rounded-lg"
            src="https://www.themarketingnutz.com/wp-content/uploads/2018/01/opulent-profile-square-07.jpg"
            alt="Leo img"
            width="50px"
            height="50px"
        />
    </div>
    <h3 class="translate-y-0.5 h-5 text-base group relative z-30 flex items-center space-x-1.5 text-black dark:text-white text-white font-semibold">
        {name}
    </h3>
</a>
