---
import { getPortafolioData} from "./card-portfolio/getPortfolioData"
import Card from './card-portfolio/CardPortfolio.astro';

const { lang } = Astro.props;

---

<section
	id="portafolio"
	class="flex flex-col w-full justify-center items-center h-auto min-h-[50dvh] py-20"
>
	<div class="portfolio__container w-full px-4">
		<div class="portfolio__elements flex flex-wrap justify-center gap-6">
			{getPortafolioData(lang).map((props) => <Card {...props} />)}
		</div>
	</div>
</section>

<style>
	.portfolio__elements {
		max-width: var(--max-width);
	}
</style>

<script>
	import { getIMGAverageColor } from './average-img-color/average-img-color';

	const $cards = document.querySelectorAll('.card__portfolio');
	$cards.forEach((card) => {
		const $container = card.querySelector<HTMLDivElement>(
			'.descripcion__container'
		);
		const $img = card.querySelector('img');
		if (!$img || !$container) return;

		const setBg = () => {
			const [rbgString] = getIMGAverageColor($img, 0.7);
			$container.style.background = rbgString;
		};
		setBg();
		$img.onload = setBg;
	});
</script>
