---
import Image from "astro/components/Image.astro";
const frontendLogos = [
  { src: "/logos/astro.svg", alt: "AstroJS Logo" },
  { src: "/logos/react.svg", alt: "ReactJS Logo" },
  { src: "/logos/tailwindcss.svg", alt: "TailwindCSS Logo" },
  { src: "/logos/html5.svg", alt: "HTML5 Logo" },
  { src: "/logos/css_old.svg", alt: "CSS Logo" },
  { src: "/logos/javascript.svg", alt: "JavaScript Logo" }
];

const backendLogos = [
  { src: "/logos/spring.svg", alt: "Spring Boot" },
  { src: "/logos/python.svg", alt: "Python Logo" },
  { src: "/logos/java.svg", alt: "Java Logo" },
  { src: "/logos/mysql.svg", alt: "MySQL Logo" },
  { src: "/logos/postgresql.svg", alt: "PostgreSQL Logo" },
];
---

<style>
  .section-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }

  .column {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }

  .column h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to right, #6b63ff, #7c3aed);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 1.5rem;
  }

  .logo-container {
    width: 120px; /* Ajusta el tamaño de los logos */
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
  }

  .logo-container:hover {
    transform: scale(1.3) rotate(10deg); /* Más énfasis en la animación */
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }

  .column:hover .logo-container {
    animation: bounce 1s ease-in-out infinite; /* Animación más marcada al interactuar */
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
</style>
<section
  class="md:py-20 relative w-full text-center flex flex-col justify-center items-center gap-5 px-4 pt-0 sm:pb-24"
>
<h2 class="w-full max-w-3xl sm:text-left text-3xl sm:text-4xl md:text-5xl font-bold text-black tracking-tight dark:text-white">
  Skills
</h2>



  <div class="section-container">
    <h3 class="pb-3 text-3xl sm:text-4xl md:text-4xl font-semibold text-black text-center dark:text-white mb-6">
      Frontend
    </h3>
    
    <div class="column">
      {frontendLogos.map((logo) => (
        <div class="logo-container">
          <Image
            src={logo.src}
            alt={logo.alt}
            width={80}
            height={80}
            loading="eager"
            class="object-contain"
          />
        </div>
      ))}
    </div>
  </div>
  <div class="section-container">
    <h3 class="text-3xl sm:text-4xl md:text-4xl font-semibold text-black text-center dark:text-white mb-6">
      Backend
    </h3>
    <div class="column">
      {backendLogos.map((logo) => (
        <div class="logo-container">
          <Image
            src={logo.src}
            alt={logo.alt}
            width={80}
            height={80}
            loading="eager"
            class="object-contain"
          />
        </div>
      ))}
    </div>
  </div>
</section>
