---
import Logo from '../logo.astro';
import SocialIcons from '../SocialIcons.astro';
---

<footer class="w-full backdrop-blur-x4l text-gray-100 py-8 px-6 flex flex-wrap items-center justify-between gap-8 md:gap-12">
  <!-- Contenedor principal del logo y social icons -->
  <div class="flex flex-col items-start gap-6">
    <Logo name="David Gonzalez" />
    <SocialIcons width="30" height="30" />
  </div>

  <!-- Contenedor de enlaces -->
  <aside class="flex flex-col gap-4">
    <ul class="space-y-3">
      <li>
        <a
          class="flex items-center gap-3 text-lg hover:text-blue-400 transition-colors duration-300"
          href="mailto:darkleonardog@gmail.com"
        >
          <iconify-icon
            icon="fluent:mail-28-regular"
            width="30"
            height="30"
            class="text-blue-400"
          ></iconify-icon>
          darkleonardog@gmail.com
        </a>
      </li>
      <li>
        <a
          class="flex items-center gap-3 text-lg hover:text-blue-400 transition-colors duration-300"
          href="https://github.com/DLeonardoG"
          target="_blank"
          rel="nofollow noreferrer noopener"
        >
          <iconify-icon
            icon="mdi:github"
            width="30"
            height="30"
            class="text-blue-400"
          ></iconify-icon>
          @DLeonardoG
        </a>
      </li>
    </ul>
  </aside>
</footer>
