---
import Layout from "../../layouts/Layout.astro";
import LanguagePicker from '../../components/LanguagePicker.astro';

---

<Layout title="Contact David">
 <div>
    holaa bith
 </div>
 <LanguagePicker />
</Layout>